<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
  <link rel="stylesheet" href="./main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <script>
    window.onload = function () {
      document.body.classList.add('loaded_hiding');
      window.setTimeout(function () {
        document.body.classList.add('loaded');
        document.body.classList.remove('loaded_hiding');
      }, 400);
    }
    const data = {};
    const success = false;
    $.ajax({
      dataType: 'json',
      url: '/data.json',
      data: data,
      success: success
    });

    let products = [];
    for( let i in data){
    products.push([i, data [i]])};
    console.log('111dfd', products);
  </script>

</head>
<body>
   <h1>Buy our food</h1>
  <div class="preloader">
    <div class="preloader__image"></div>
  </div>
 <% if (products.length > 0) {%>
        <% products.forEach(product => {%>
          <div class="product-card">
            <h2 class="title"><%= product.title %></h2>
            <p><%= product.description %></p>
            <img class="url" src="<%= product.url %>"  width="300px" height="300px" >
            <br>
            <button class="button">
              <a class="text-decoration" href="/product/<%= product.id %>">
                Go to product
              </a>
            </button>
          </div>
            <% }) %>
            <% }else {%>
            <p>There are no products available...</p>
          <%} %>


    <div class="allProductStyles">
      <div class="productStyles">

          <br><br>
        </div>
    </div>
    </div>




</body>
</html>